<h1 class="show_article"><%= @article.title %></h1>
<div class="container">
<h4 class="wrapper">
<%= @article.body %></p>
</h4>
<h6 class ="published">Published by <%= @article.user.email %> at <%= @article.created_at %> </h6>
<%= button_to 'Like', article_likes_path(@article), method: :post %>
<p><%= @article.likes.count %> <%= (@article.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<%= link_to "Back to Articles", articles_path %>
.
<%= link_to "Delete", article_path(@article), method: :delete ,data: { confirm: 'Are you sure?' }%>
.
<%= link_to "Edit", edit_article_path(@article) %>

</div>


<br><br>
<div class="container">
<%= render partial: 'comments/form' %>
<br>
</div>
<div class="container">
<h4>Comments (<%= @article.comments.size %>)</h4>

<%= render partial: 'articles/comment', collection: @article.comments.reverse %>

<br>
</div>